[data-widget="accessible-autocomplete"] {
	margin-bottom: 1.25ex;
}
.autocomplete-search-field {
	border: 1px solid #d5d5d5;
}
.autocomplete-list {
	position: absolute;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #d5d5d5;
	border-top: none;
	background-color: #fff;
	list-style: none;
}
.autocomplete-item {
	box-sizing: border-box;
	margin: 0;
	padding: .2ex .1em;
	border-top: 1px solid transparent;
	cursor: pointer;
}
.autocomplete-item:first-child {
	border-top: none;
}
.autocomplete-item:last-child {
	border-bottom: none;
}
.autocomplete-item:hover,
[aria-selected="true"] {
	background-color: #ddd;
	border-top-color: #d5d5d5;
	border-bottom-color: #d5d5d5;
}
label {
	font-weight: bold;
}
/* mobile styles */
.mobi .autocomplete-list {
	position: relative;
	width: 100vw;
}
.mobi .autocomplete-list[style] {
	left: 50% !important;
	transform: translateX(-50%) !important;
	top: 0 !important;
	min-width: auto !important;
}
.mobi .autocomplete-item {
	border-top: 1px solid #d5d5d5;
	padding: 1ex 1em;
}
