/* ==========================================================================
   Base style definitions
   ========================================================================== */
/* Defaults
-------------------------------------------------- */
/* For devices that do not support html meta viewport (e.g. IE 10 snap mode) */
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }
html {
    overflow-y: scroll;
    min-height: 100%;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    }
body {
	height: 100%;
    margin: 0 auto;
	background-color: #fff;
    font-size: 1.4rem; /* =14px */
	font-weight: normal;
	color: #161e25;
	overflow-x: hidden;
    }
img, embed, object, video { max-width: 100%; vertical-align: middle; }
p, ul, ol, dl { margin-top: 0; }
ul {
	margin-left: .25em;
	padding-left: 0;
	list-style: none;
	}
ol { padding-left: 1.5em; }
li {
	margin-left: 0;
	padding-left: 0;
	}
p, li {
	margin-bottom: 1.25ex;
	line-height: 160%;
	}

.p {
	margin-top: 0;
	margin-bottom: 1.25ex;
	line-height: 160%;
	}
a,
.a {
	color: #3279bf;
	text-decoration: none;
	cursor: pointer;
	}
.a {
	display: inline;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;
}
a:hover,
.a:hover {
	text-decoration: underline;
	}
:focus {
	outline: #3279bf solid 1px;
	box-shadow: 0px 0px 2px 2px #3279bf;
	}
a.current {
	color: #4f0100;
	cursor: text;
	}
a.current:hover {
	text-decoration: none;
	}
button {
	cursor: pointer;
	}
fieldset {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
}
hr {
	margin: 20px 0 15px;
	}
table {
	width: 100%;
	}
td, th {
	padding: 2ex 1em 2ex 0;
	vertical-align: top;
	text-align: left;
	}
tbody tr {
	border-bottom: 1px solid #b5b5a8;
	}
tbody tr:first-child th,
tbody tr:first-child td {
	padding-top: 0;
	}
td:last-child {
	padding-right: 0;
	}
th {
	color: #4f0100;
	}
td ul,
td li:last-child {
	margin-bottom: 0;
	}
/* Headings
-------------------------------------------------- */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	margin: 1.3ex 0 1ex;
	color: #163554;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: .02em;
	}
h1, .h1 {
	margin: 0.7ex 0 1ex;
	border-bottom: 1px solid #163554;
	padding-bottom: 0.5ex;
	font-size: 3.0rem;
	line-height: 1.07;
	text-transform: uppercase;
	letter-spacing: normal;
	}
h2, .h2 {
	font-size: 2.3rem;
	}
h3, .h3 {
	font-size: 1.6rem;
	}
h4, .h4 {
	font-size: 1.4rem;
	}
h5, .h5 {
	}
h6, .h6 {
	}
/* Lists
---------------------------------------- */
.bullet {
	padding-left: 1.4em;
	list-style-type: disc;
	}
.singletons li {
	margin-bottom: 0;
}
/* Forms
---------------------------------------- */
legend {
	overflow: hidden;
	}
.legend {
	display: block;
	margin-top: 1ex;
	font-size: 1.6rem;
	font-weight: bold;
	}
fieldset fieldset legend {
	font-size: 1.4rem;
	}
label {
    display: inline-block;
    width: 7em;
    margin-right: 2em;
}
label.auto-length {
	width: auto;
}
.inline-label {
	width: auto;
	}
.block-label {
	display: block;
	width: auto;
	margin-bottom: .5ex;
}
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=number],
input[type=date],
input[type=tel],
input[type=url],
select,
textarea {
    padding: 1ex .5em;
    width: 20em;
    font-size: 1.3rem;
    line-height: 1;
    background: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.2);
    box-sizing: border-box;
    }
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=tel]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
	box-shadow: inset 0px 0px 2px 2px #3279bf;
	}
input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin-right: .3em;
    }
input[disabled] {
	background-color: #eee;
}
.required-field::after {
    content: "*";
    display: inline-block;
    margin-left: .1em;
    font-weight: bold;
    color: red;
    }
.form-row {
	margin: 1.5ex 0;
	}
/* Buttons
---------------------------------------- */
.btn {
	position: relative;
	display: inline-block;
	height: 32px;
	padding: 0 0.6em 0 .8em;
	background-color: #e7e7e7;
	font-size: 1.4rem;
	font-weight: bold;
	color: #161e25;
	line-height: 32px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	letter-spacing: 0.07em;
	}
.btn:hover,
.btn:focus,
.btn:active {
	text-decoration: none;
	}
.btn-primary {
	border: none;
	background: #3279bf;
	color: #fff;
	}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #163554;
	}
.btn-secondary {
	border: none;
	background: #4f0100;
	color: #fff;
	}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
	color: #ffb612;
	}
.btn-disabled {
	/* background and text color same as .btn */
	border: 2px solid #c1c1c1;
	line-height: 35px;
	}
/*Looks Like a link, but has spacing of a button*/
.btn-text {
    height: 31px;
    padding: 0 15px;
    font-size: 1.3rem;
    line-height: 32px;
    font-weight: bold;
	}
.btn.svg {
    width: 32px;
    height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
	}
/* Icons
---------------------------------------- */
i {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	}
i.svg {
	}
.svg.external {
	width: 20px;
	height: 13px;
	margin-top: -5px;
	}
/* General Helpers
-------------------------------------------------- */
.center-text {
	text-align: center;
	}
.float-left {
	float: left;
	}
.float-right {
	float: right;
	}
.clear {
	clear: both;
	}
.bold {
	font-weight: bold;
	}
.normal {
	font-weight: normal;
	}
.block {
	display: block;
	}
.inline {
	display: inline;
	}
.width-25 { width: 25%; }
.width-33 { width: 33%; }
.width-50 { width: 50%; }
.width-75 { width: 75%; }
/* Showing and Hiding
---------------------------------------- */
.is-hidden { /* Hide from both screenreaders and browsers */
    display: none !important;
    visibility: hidden;
    }
.is-visible { /* Show element to both screenreaders and browsers */
	display: block !important;
	visibility: visible;
	}
.accessibly-hidden { /* Hide only visually, but have it available for screenreaders */
    position: absolute !important;
	display: block;
	visibility: visible;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    }
@media print {
	.cui-not-printed { /* Will not appear on printouts */
		display: none;
		}
	}
/* Code snippets
---------------------------------------- */
.code-snippet {
    box-sizing: border-box;
	padding: 0 1.5em;
	background-color: #ccc;
	}
/* Skip link
---------------------------------------- */
.skip-link {
	display: block;
    height: 1px;
    margin-top: -11px;
    padding: 5px;
    overflow: hidden;

	}
.skip-link:focus {
	height: auto;
	margin: auto;
	}
#main {
	outline: none;
	box-shadow: none;
}
[data-code] {
	background-color: #eee;
    padding: 0.3ex 2.5em;
    border-radius: 12px;
}
/* Page component structure
---------------------------------------- */
.page-wrapper {
	width: 80%;
	margin: 0 auto 10ex;
	background-color: #fff;
	}
