h1 {
	color: #999;
}
h3 .blind-trigger {
    font-weight: bold;
}
.masthead {
	position: relative;
}
.masthead img {
	position: relative;
}
.masthead h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    color: white;
    border-bottom-color: white;
}
#yes {
    cursor: pointer;
}
:focus {
    outline: red solid 1px;
    box-shadow: inset 0px 0px 2px 2px red;
}