/* Components
---------------------------------------- */
.block-screen {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 1000%;
	height: 1000%;
	background-color: gray;
	opacity: 0.5;
	z-index: 50;
	}
.block-screen.active {
	display: block;
	}
.modal {
	position: absolute;
	display: none;
	z-index: 100;
	}
