/* Components
---------------------------------------- */
.block-screen {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: gray;
	opacity: 0.5;
	z-index: 50;
	}
.block-screen.active {
	display: block;
	}
.modal {
	position: absolute;
	display: none;
	left: 0;
	top: 300px;
	width: 80%;
	background-color: #fff;
	z-index: 100;
	}
.modal.active {
	display: block;
	}
