html {
  font-size: 62.5%;
}
table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
}
tbody tr {
  border: none;
}
td, th {
  padding: 1em;
  border: 1px solid black;
}
/* basic pie styles */
.pie-it {
  width: 50%;
  min-width: 40rem;
  margin-top: 9rem;
}
.pie-it caption {
  text-align: left;
  white-space: nowrap;
  margin-top: -9rem;
}
.pie-it td,
.pie-it th {
  border: none;
  padding: 0;
}
.pie-it th::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .2em;
}
.pie-it tbody tr {
  height: 22rem;
}
.pie-it .wedge {
  position: absolute;
  left: 0;
  top: 0;
  height: 20rem;
  width: 20rem;
  overflow: hidden;
  line-height: 45rem;
  pointer-events: none;
  cursor: pointer;
}
.pie-it .wedge::before,
.pie-it .wedge::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 10rem;
  pointer-events: auto;
}
.pie-it .acute {
  height: 10rem;
  transform-origin: center bottom;
}
.pie-it .acute::before {
  content: none;
}
.pie-it .acute::after {
  clip: rect(0, 10rem, 10rem, 0);
}
.pie-it .obtuse::before,
.pie-it .obtuse::after {
  clip: rect(0, 20rem, 10rem, 10rem);
}
.pie-it .super::before,
.pie-it .super::after {
  clip: rect(0, 20rem, 20rem, 10rem);
}

/* colors */
.pie-it .wedge:nth-child(1)::before,
.pie-it .wedge:nth-child(1)::after,
.pie-it th:nth-child(1)::before {
  background-color: purple;
}
.pie-it .wedge:nth-child(2)::before,
.pie-it .wedge:nth-child(2)::after,
.pie-it th:nth-child(2)::before {
  background-color: green;
}
.pie-it .wedge:nth-child(3)::before,
.pie-it .wedge:nth-child(3)::after,
.pie-it th:nth-child(3)::before {
  background-color: orange;
}
.pie-it .wedge:nth-child(4)::before,
.pie-it .wedge:nth-child(4)::after,
.pie-it th:nth-child(4)::before {
  background-color: brown;
}
.pie-it .wedge:nth-child(5)::before,
.pie-it .wedge:nth-child(5)::after,
.pie-it th:nth-child(5)::before {
  background-color: blue;
}
.pie-it .wedge:nth-child(6)::before,
.pie-it .wedge:nth-child(6)::after,
.pie-it th:nth-child(6)::before {
  background-color: red;
}

/*
PATTERNS for setting wedge angles and position
ACUTE WEDGE:
  .acute {
    transform: rotate(90deg + sum of prior wedge angles);
  }
  .acute:after {
    transform: rotate(wedge angle - 90deg);
  }
OBTUSE WEDGE:
  .obtuse {
    transform: rotate(sum of prior wedge angles);
  }
  .obtuse:after {
    transform: rotate(wedge angle - 90deg);
  }
SUPER WEDGE:;
  .super {
    transform: rotate(sum of prior wedge angles);
  }
  .super:after {
    transform: rotate(wedge angle - 180deg);
  }
*/


/* example of specific styles for the 3-wedge pie chart which has an acute, obtuse, and super wedge */
.pie-it .wedge:nth-child(1) {
  transform: rotate(90deg);
}
.pie-it .wedge:nth-child(1)::after {
  transform: rotate(-60deg);
}
.pie-it .wedge:nth-child(2) {
  transform: rotate(30deg);
}
.pie-it .wedge:nth-child(2)::after {
  transform: rotate(25deg);
}
.pie-it .wedge:nth-child(3) {
  transform: rotate(145deg);
}
.pie-it .wedge:nth-child(3)::after {
  transform: rotate(35deg);
}

