.rating-set {
    position: relative;
    height: 6rem;
}
input[name="rating"] {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0;
    margin-left: .6em;
    margin-bottom: .5em;
}
.svg-star {
    width: 3rem;
    height: 2.8rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
}
.svg-star polygon {
    fill: #fff;
    stroke: #666;
}
[aria-label="1 stars"] + [role="presentation"],
[aria-label="1 stars"] {
    left: 0;
}
[aria-label="2 stars"] + [role="presentation"],
[aria-label="2 stars"] {
    left: 3rem;
}
[aria-label="3 stars"] + [role="presentation"],
[aria-label="3 stars"] {
    left: 6rem;
}
[aria-label="4 stars"] + [role="presentation"],
[aria-label="4 stars"] {
    left: 9rem;
}
[aria-label="5 stars"] + [role="presentation"],
[aria-label="5 stars"] {
    left: 12rem;
}
.rating-radio:focus + .svg-star {
    box-shadow: inset 0px 0px 3px 3px #cc3333;
}
.changed .svg-star polygon {
    fill: #900;
    stroke: #000;
}
.changed .rating-radio:checked ~ .rating-radio + .svg-star polygon {
    fill: #fff;
    stroke: #666;
}
.hovering .svg-star polygon {
    fill: #900 !important;
    stroke: #000 !important;
}
.hovering .svg-star.hovered ~ .svg-star polygon {
    fill: #fff !important;
    stroke: #666 !important;
}






