/* Defaults
-------------------------------------------------- */
/* For devices that do not support html meta viewport (e.g. IE 10 snap mode) */
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }
html {
    overflow-y: scroll;
    min-height: 100%;
    font-family: arial, sans-serif;
    font-size: 62.5%;
    }
body {
	overflow-x: hidden;
	height: 100%;
    margin: 0 auto;
    font-size: 12px;
    font-size: 1.2em; /* =12px */
    }    
img, embed, object, video { max-width: 100%; vertical-align: middle; }
p, ul, ol, dl { margin-top: 0; }
ul {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
	}
ol { padding-left: 1.5em; }
li {
	margin-left: 0;
	padding-left: 0;
	}
p, li {
	line-height: 150%;
	margin-bottom: 1ex;
	}
a,
.cui-trigger {
	color: #005bbb; 
	text-decoration: none;
	cursor: pointer;
	}
a:hover,
.cui-trigger:hover {
	text-decoration: underline;
	}
p > a:first-child:focus {
	margin-left: 2px;
	}
p > a.cui-btn:first-child:focus {
	margin-left: 0;
}
@media screen\0 { 
	.accessibly-hidden + input:focus, .accessibly-hidden + textarea:focus, .accessibly-hidden + isindex:focus, .accessibly-hidden + keygen:focus, .accessibly-hidden + select:focus {
		margin-left: 1px;
	}
}
fieldset {
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	}
	
/* Headings
-------------------------------------------------- */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	display: block;
	font-weight: bold;
	margin: 1.3ex 0;
	}
h1, .h1 {
	margin: 0;
	font-size: 29px;
	font-size: 2.9rem; /* =29px */
	line-height: 107%;
	}
h2, .h2 {
	font-size: 23px;
	font-size: 2.3rem; /* =23px */
	}
h3, .h3 {
	font-size: 18px;
	font-size: 1.8rem; /* =18px */
	}
h4, .h4 {
	font-size: 15px;
	font-size: 1.5rem; /* =15px */
	}
h5, .h5 {
	font-size: 13px;
	font-size: 1.3rem; /* =13px */
	}
h6, .h6 {
	font-size: 12px;
	font-size: 1.2rem; /* =12px */
	}
.cui-callout {
	display: block;
	margin-bottom: .35ex;
	font-size: 40px;
	font-size: 4.0rem;
	line-height: normal;
	}
.cui-subhead {
	margin-top: 0;
	font-weight: normal;
	}
.cui-intro {
	font-weight: bold;
	line-height: 200%;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
	}

/* Horizontal Rules
---------------------------------------- */
hr {
    display: block;
    height: 1px;
    margin: 1.5em 0;
    border: 0;
    padding: 0;
    background-color: #efefef;
	}
.hr-before:before { /* make sure parent has position-relative */
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 1px;
	border-top: 1px solid #b4b4b4;
	background-color: #f9f9f9;
	}
.hr-after:after { /* make sure parent has position-relative */
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 1px;
	border-top: 1px solid #b4b4b4;
	background-color: #f9f9f9;
	}
.cui-rule-dashed {
/*	background: transparent linear-gradient(to right, #ccc 50%, transparent 50%) bottom left repeat-x;
	background-size: 4px 1px; Not supported in IE8 */	
	border-bottom: 1px dashed #ccc;
	}
.cui-separator-dashed {
/*	background: transparent linear-gradient(to bottom, #ccc 50%, transparent 50%) top left repeat-y;
	background-size: 1px 4px; Not supported in IE8 */	
	border-left: 1px dashed #ccc;
	}
/* page header separator */
.cui-rule-pageheader {
	height: 3px;
	background: #e7e7e7;
	border-top: 1px solid #c5c5c5;
	}
	
/* Page structure 
---------------------------------------- */
.cui-wrap-page {
	position: relative;
	width: auto;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;
	}

/* Linking 
---------------------------------------- */
/* solo link */
.cui-link-solo {
	color: #666;
	}
.cui-link-solo:before {
	content:  "\bb";
	display: inline-block;
	padding-right: 5px;
	vertical-align: 11%;
	}	

/* Breadcrumbs
---------------------------------------- */
.cui-breadcrumbs {
	font-weight: bold;
	float: left;
	}
[class|="cui-breadcrumb"] {
	display: inline-block;
	}
.cui-breadcrumb-link:after {
	content: "\203a";
	display: inline-block;
	padding: 0 2px 0 5px;
	color: #999;
	font-weight: normal;
	vertical-align: 11%;
	}

/* Form
---------------------------------------- */
/* form field container */
.cui-form-field {
	margin-bottom: 20px;
	}
.cui-form-label {
	display: block;
	margin-bottom: .25em;
	line-height: 1em;
	}
.cui-form-input {
	border: 1px solid #d5d5d5;
	padding: 12px;
	width: 100%;
	border-radius: 2px;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1em;
	background: #fff;
	border-radius: 2px;
	box-shadow: inset 0 5px 5px -5px rgba(0,0,0,0.2);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
.cui-accessible-placeholder {
	position: absolute;
	left: 13px;
	top: 16px;
	}
.cui-form-select {
	background-color: #fffffe; /* Safari will take css height only if background color or border is changed from browser default. */
	}

/* Buttons
---------------------------------------- */
.cui-btn {
	position: relative;
	display: inline-block;
	height: 31px;
	border: 1px solid #bababa;
	border-radius: 3px;
	padding: 0 15px;
	color: #1b1b1b;
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
	white-space: nowrap;
	}
/* use .cui-btn-tall to match height of text input */
.cui-btn-tall {
	padding: 3px 15px;
	}
/* interaction states */
.cui-btn:hover,
.cui-btn:focus,
.cui-btn:active {
	text-decoration: none;
	}
/* primary button is yellow */
.cui-btn-primary {
	border: 1px solid #b67c00;
	background: #fecb00;
	background-image: -webkit-linear-gradient(top,  #fee045 0%,#fed300 15%,#fec300 85%,#fecc2e 100%);
	background-image: linear-gradient(to bottom,  #fee045 0%,#fed300 15%,#fec300 85%,#fecc2e 100%);
	}
.cui-btn-primary:hover,
.cui-btn-primary:focus,
.cui-btn-primary:active {
	background: #fecc2e;
	background-image: -webkit-linear-gradient(top, #fecc2e 0%,#fec300 15%,#fed300 85%,#fee045 100%);
	background-image: linear-gradient(to bottom, #fecc2e 0%,#fec300 15%,#fed300 85%,#fee045 100%);
	}
/* TO DO: MAKE CUI-BTN-DEACTIVATED WHICH IS LT GRAY
*/
.cui-btn-secondary {
	border: 1px solid #b0b0b0;
	background: #ececec;
	background-image: -webkit-linear-gradient(top,  #f4f4f4 0%,#f4f4f4 15%,#dadada 85%,#d9d9d9 100%);
	background-image: linear-gradient(to bottom,  #f4f4f4 0%,#f4f4f4 15%,#dadada 85%,#d9d9d9 100%);
	}
.cui-btn-secondary:hover,
.cui-btn-secondary:focus,
.cui-btn-secondary:active {
	background: #fecc2e;
	background-image: -webkit-linear-gradient(top, #d9d9d9 0%,#dadada 15%,#f4f4f4 85%,#f4f4f4 100%);
	background-image: linear-gradient(to bottom, #d9d9d9 0%,#dadada 15%,#f4f4f4 85%,#f4f4f4 100%);
	}
.cui-btn-disabled {
	color: #bbb;
	border-color: #e7e7e7;
	box-shadow: inset 0 3px 0 rgba(255,255,255,.1), inset 0 -2px 0 rgba(255,255,255,.1);
	background: #d2d2d2;
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#d2d2d2 100%);
	background: linear-gradient(to bottom, #f0f0f0 0,#d2d2d2 100%);
	}
.cui-btn-disabled:hover,
.cui-btn-disabled:focus,
.cui-btn-disabled:active {
	/* ensure btn-primary doesn't override the h/f/a styling */
	background: #d2d2d2;
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#d2d2d2 100%);
	background: linear-gradient(to bottom, #f0f0f0 0,#d2d2d2 100%);
	}

/*Looks Like a link, but has spacing of a button*/
/*needs refactor for ".cui-btn .cui-btn-text" */
.cui-btn-text {
    height: 31px;
    padding: 0 15px;
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 32px;
    font-weight: bold;
}
.cui-btn-text i {
	margin-right: 5px;
}

/* Service Status
---------------------------------------- */
[class|="code"] {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	}
.code-red {
	color: #d11a38;
	}
.code-yellow {
	color: #e88501;
	}
.code-green {
	color: #88aa00;
	}
[class|="ico-code"] {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 0;
	top: 50%;
	margin-top: -10px;
	}

/* Lists
---------------------------------------- */
/* bullet list */
.cui-list-bullets {
	padding-left: 1.4em;
	list-style-type: disc;
	}
/* List of items divided by pipe: duplicated in cui-lob-links */
.cui-pipe-list {
	margin-bottom: 0;
	font-size: 1.3rem;
	padding-left: 1px;
	}
.cui-pipe-list li {
	position: relative;
	display: inline-block;
    margin: 0 auto;
	margin-bottom: 0;
	}
.cui-pipe-list li:before {
	content: "| ";
	color: #666;
	}
.cui-pipe-list li:first-child:before {
	content: normal;
	}
/* List of links as vertical block menu with rules */
.cui-vert-block-menu li {
	margin: 0;
}
.cui-vert-block-menu li a {
	display: block;
	margin: 0 16px;
	border-top: 1px dashed #cacaca;
	padding: 16px 0;
	font-weight: bold;
}
.cui-vert-block-menu li:first-child a {
	border-top-width: 0;
}
.cui-vert-block-menu li:last-child a {
	border-bottom: 1px solid transparent;
}
.cui-vert-block-menu li:hover a {
	margin: 0;
	padding: 16px;
	border-top-style: solid;
	border-bottom: 1px solid #cacaca;
	background-color: #e7f1fb;
	text-decoration: none;
}
.cui-vert-block-menu li a:focus {
	margin: 1px;
	padding: 15px;
	}
.cui-vert-block-menu li:hover + li a {
	border-top-width: 0;
}
/* Definition list of specifications */
/* provides line break after dd */
.cui-spec-list dt, .cui-spec-list dd {
	display: inline;
	margin: 0;
	}
.cui-spec-list dd:after {
	content: "";
	overflow: hidden;
	display: block;
	height: 1px;
	width: 100%;
	margin-top: -1px;
	}
/* Layout patterns
---------------------------------------- */

/* Media block pattern - image left, content right, content does not wrap around image */
.cui-media {
	display: block;
	}
.cui-media-img {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	}
.cui-media-img-right {
	float: right;
	margin-left: 10px;
	}
.cui-media-body {
	display: inline-block;
	}
.cui-media.cui-align-middle .cui-media-img,
.cui-media.cui-align-middle .cui-media-body {
	vertical-align: middle;
}
/* Page header - icon (optional), h1, subhead (optional) */
.cui-header-page {
	min-height: 50px;
	margin-bottom: 10px;
	padding-top: 30px;
	}
.cui-header-page h1 {
	font-size: 25px;
	font-size: 2.5rem;
	}
.cui-header-page .cui-lob-tier {
	padding-top: 3px;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.2em;
	color: #666;
	}
/* External link has little icon after it */
.cui-external-link:after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	background: transparent url('/~/media/customer_comcast_com/Images/cui-my-acct-sprite.png') -100px -900px no-repeat;
	}
/* Loading spinner */
.cui-loading-indicator {
	display: block;
	width: 100%;
	margin: 4.75em auto;
	text-align: center;
	font-weight: bold;
	}
.cui-loading-indicator:before {
	content: "";
	position: relative;
	display: block;
	width: 20px;
	height: 20px;
	margin: 1ex auto;
	background: transparent url('/~/media/customer_comcast_com/Images/loading.png') 0 0 no-repeat;
	}