/* General Helpers
-------------------------------------------------- */
.center-text {
	text-align: center;
	}
.text-left {
	text-align: left;
	}
.text-right {
	text-align: right;
	}
.float-left {
	float: left;
	}
.float-right {
	float: right;
	}
.clear {
	clear: both;
	}
.bold {
	font-weight: bold;
	}
.normal {
	font-weight: normal;
	}
.light-text {
	color: #666;
	}
/*.wrap {
	 overflow: hidden; 
	} */
.block {
	display: block;
	}
.inline {
	display: inline;
	}
.width-25 { width: 25%; }
.width-33 { width: 33%; }
.width-50 { width: 50%; }
.width-66 { width: 66%; }
.width-75 { width: 75%; }

/* Showing and Hiding 
---------------------------------------- */
.is-hidden { /* Hide from both screenreaders and browsers */
    display: none !important;
    visibility: hidden;
    }
.is-visible { /* Show element to both screenreaders and browsers */
	display: block !important;
	visibility: visible;
	}
.accessibly-hidden { /* Hide only visually, but have it available for screenreaders */
    position: absolute !important;
	display: block;
	visibility: visible;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    }
@media print {
	.cui-not-printed { /* Will not appear on printouts */
		display: none;
	}
}

/* States
---------------------------------------- */
.cui-inactive {
	color: #666;
	}
.cui-inactive:hover {
	text-decoration: none;
	cursor: default;
	}
.cui-alert {
	font-weight: bold;
	color: #d11a38;
	}
