/* NORMALIZATION */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    font-size: 62.5%;
}
body {
  background-color: #222;
    margin: 2em;
    font-size: 1.4rem;
  color: #ccc;
  line-height: 1;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 .2em;
    padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 1.4rem; /* 2 */
    margin: 0; /* 3 */
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* PAGE STYLES */
a {
  color: #ca7;
}
:focus {
    border: none;
    background-color: #ca7;
    color: #222;
    outline-color: #ca7;
    outline-style: dotted;
    outline-width: .2rem;
    outline-offset: .3rem;
}
.screen-reader-text {
	position: absolute !important;
	display: block;
	visibility: visible;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0px, 0px, 0px, 0px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
  white-space: nowrap;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5ex;
}
.nav-link {
  display: block;
  min-width: 19%;
  margin-right: 1rem;
  border: 1px solid #ca7;
  padding: 2ex 1em;
  color: #ca7;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-link:focus {
  border: none;
  background-color: #ca7;
  color: #222;
}
.show {
  display: block;
}

#stringView {
  position: fixed;
  right: 4ex;
  top: 3.5rem;
  box-sizing: border-box;
  min-height: 3em;
  width: 70%;
  margin: 0;
  padding: .5em .5em;
  border: 3px solid yellow;
  overflow: hidden;
  color: yellow;
  font-size: .9em;
  font-style: italic;
}
h1 {
  margin-top: 2ex;
  font-size: 3rem;
}
h2, .h2, caption {
  margin-top: 2ex;
  margin-bottom: .5ex;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
}
table {
  width: 100%;
}
td, [role="gridcell"] {
  position: relative;
  vertical-align: top;
  padding: 1em;
  border: 1px solid #ca7;
  color: #ca7;
}
td {
  width: 25%;
}
[role="grid"] {
  margin-bottom: 5ex;
}
[role="row"] {
  display: flex;
}
[role="gridcell"] {
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 35%;
}
[role="gridcell"]:focus {
  color: #222;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.vid-title {
  color: #ccc;
  font-weight: bold;
}
:focus .vid-title {
  color: #222;
}
.vid-time {
  position: absolute;
    right: 0;
    bottom: 0;
    margin: .2em;
    padding: .5ex .5em;
    background-color: #ca7;
    color: #222;
    font-size: 1.1rem;
}
:focus .vid-time {
  color: #ccc;
  background-color: #222;
}
.vid-views {
  display: inline-block;
}
.vid-age {
  display: inline-block;
}
.vid-age::before {
  content: ' * ';
  position: relative;
  top: .65ex;
}
.main-group {
  position: relative;
  top: 40vh;
}
.main-link {
  width: 20vh;
  height: 20vh;
  min-width: auto;
  border-radius: 10vh;
  box-sizing: border-box;
  font-size: 2.5rem;
  line-height: 5;
}
